<!-- verwendet layout.html als Vorlage -->
{% extends "layout.html" %}
<!-- ANPASSEN: Die Auswertung kannst du all deine erfassten Sportdaten ausgewertet einsehen.-->
<!-- Seitentitel wird definiert -->
{% block title %}Auswertung{% endblock %}
<!-- Seiteninhalt wird definiert -->
{% block content %}
<div class="container">
    </br>
    <h1>Auswertung</h1>
    <p>Hier kannst du all deine erfassten Sportdaten ausgewertet einsehen.</p>
    </br>
    <div class="row">
        <div class="col">
            <p>Die Gesamtdauer deiner erfassten Sportdaten beträgt <b>{{ gesamtdauer }}</b> Stunden.</p> <!-- Gesamtdauer in Stunden -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ viz_piechart|safe }} <!-- Pie-Chart Diagramm -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ viz_barchart|safe }} <!-- Scatter Plot Diagramm -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ viz_scatterplot|safe }} <!-- Scatter Plot Diagramm -->
        </div>
    </div>
</div>
{% endblock %}