<!-- verwendet layout.html als Vorlage -->
{% extends "layout.html" %}
<!-- Diese Seite ist die Startseite des Sport Trackers. Von hier aus kann der User auf die verschiedenen Bereiche des
 Sport Trackers wechseln. --->
<!-- Seitentitel wird definiert -->
{% block title %}Startseite{% endblock %}
<!-- Seiteninhalt wird definiert -->
{% block content %}
<div class="container">
    </br>
    <h1>Hallo {{ user }} und herzlich Willkommen bei deinem Sports Tracker</h1>
    <p>Auf deinem persönlichen Sports Tracker kannst du deine Sportarten ganz einfach tracken und auswerten.</p>
    </br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Neuer Eintrag</h5>
                    <p class="card-text">Erstelle einen neuen Eintrag, um die Daten deiner Sportaktivität zu erfassen.</p>
                    <a href="{{ url_for('tracker') }}" class="btn btn-primary">Neuer Eintrag erstellen</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Übersicht</h5>
                    <p class="card-text">In der Übersicht findest du eine Übersicht an all deinen erfassten Sportdaten.</p>
                    <a href="{{ url_for('uebersicht') }}" class="btn btn-primary">Zur Übersicht</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Auswertung</h5>
                    <p class="card-text">In der Auswertung kannst du all deine erfassten Sportdaten ausgewertet einsehen.</p>
                    <a href="{{ url_for('auswertung') }}" class="btn btn-primary">Zur Auswertung</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}