<!-- Übernahme header -->
{% include "header.html" %}
<!-- Die Übersichts-Seite zeigt dem User die erfassten Tracking-Daten, die unter "Neuer Eintrag" eingegeben wurden und
im sport_data.json gespeichert sind.-->
{% block content %}
<div class="container">
    </br>
    <h1>Übersicht</h1>
    <p>Hier siehst du eine Übersicht all deiner erfassten Sportdaten.</p>
    </br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Erfassungsdatum</th>
            <th scope="col">Sportart</th>
            <th scope="col">Intensivität</th>
            <th scope="col">Datum</th>
            <th scope="col">Dauer in Minuten</th>
            <th scope="col">Distanz in Schritte</th>
            <th scope="col">Kalorien</th>
        </tr>
        </thead>
        <tbody>
        <!-- items sind die einzelnen Eingaben (unterteilt nach Eingabedatum) aus dem dict in sport_data.json.
        Pro Zeile nimmt es hier die values vom Key, der in [] steht. -->
        {% for key, value in eingabe.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value["Sportart"] }}</td>
            <td>{{ value["Intensivitaet"] }}</td>
            <td>{{ value["Datum"] }}</td>
            <td>{{ value["Dauer"] }} </td>
            <td>{{ value["Distanz"] }} </td>
            <td>{{ value["Kalorien"] }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
<!-- Übernahme footer -->
{% include "footer.html" %}